.left_cell {
    clear: left;
    float:left;
    width: 100px;
    text-align:right;
    border-right: 1px dashed;
    padding-right: 10px;
    font-size: 18px;
}
.cell {
    float:left;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px dashed;
    font-size: 18px;
    text-align: center
}
.right_cell {
    float:left;
    width: 100px;
    padding-left: 10px;
    font-size: 18px;
}
.header_cell{
    border-bottom: 1px dashed;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}
br {
    clear:left;
}

body {
    font-family: monospace;
}

#control-panel {
    clear: left;
    text-align: center;
    display: block;
    height: 70px;
    width: 552px;
    margin: 0 auto;
}

.panel-button {
    float:left;
    width: 150px;
    height: 30px;
    background-color: #ddd8d8;;
    margin: 10px 15px 10px 15px;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    border: 2px dashed;
}

#main-info {
    clear:left;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.content-block {
    clear: left;
}